---
- name: Install mysql client and server
  action: apt pkg={{item}} state=present
  with_items:
    - mysql-client
    - mysql-server
    - python-mysqldb
    - libmysqlclient-dev
    - libmysqld-dev
  notify:
    - restart mysql

- name: enable mysql service
  action: service name=mysql state=started enabled=yes 

#- name: create my.cnf file
#  template: src=my.cnf.j2 dest=/etc/my.cnf
#  notify:
#    - restart mysql

#- include: secure.yml
