---
- hosts: opennebula_frontend
  user: root 

  vars:

  tasks:
    - name: Setup vm hosts
      sudo: True
      sudo_user: oneadmin
      command: onehost create {{item}} --im kvm --vm kvm --net dummy
      with_items: groups.opennebula_compute
